@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

body {
    font-family: "Inter", sans-serif;
    background: linear-gradient(135deg, #1a1c22 0%, #23252b 100%);
}

* {
    margin: 0;
}